In [1]:
# Download the historical price of stocks using yfinance
## Scrape the wikipedia page to get ticker names using BeautifulSoup and requests
from bs4 import BeautifulSoup
import requests
## Download the stock prices using yfinance
import yfinance as yf

# For data processing
import numpy as np
import pandas as pd

## Download stock data

**RUN THE CELLS BELOW ONCE IF YOU ARE USING THIS IPYNB FILE FOR THE FIRST TIME.
THE CELLS BELOW WILL DOWNLOAD THE DATA IN THE DRIVE FOLDER `datasets/stock-prices-S&P-constituents` as `stocks-data.csv`. So, make sure to create this folder `datasets/stock-prices-S&P-constituents` if not present inside your drive.**


**BUT IF YOU ALREADY HAVE RUN THE BELOW CELLS ONCE THEN NO NEED TO RUN THEM AGAIN!! OTHERWISE, IT WILL AGAIN DOWNLOAD THE DATA WHICH WILL TAKE TIME TO COMPLETE!!**

----------------------------------------------------------

**Download the S&P 500 stocks price data**

The S&P 500 stock market index is maintained by S&P Dow Jones Indices. It comprises 503 common stocks which are issued by 500 large-cap companies traded on American stock exchanges (including the 30 companies that compose the Dow Jones Industrial Average). The index includes about 80 percent of the American equity market by capitalization. It is weighted by free-float market capitalization, so more valuable companies account for relatively more weight in the index. The index constituents and the constituent weights are updated regularly using rules published by S&P Dow Jones Indices. Although called the S&P 500, the index contains 503 stocks because it includes two share classes of stock from 3 of its component companies.

-----------------------------------------------------------
- Start Date: 1989-12-31
- End Sate: 2019-01-01

To clear any confusion we are actually taking stock price data from 1990-01-01 to 2018-12-31. But, at the time of downloading if we provide the exact dates then the stock price at those days will be excluded. So, we are taking dates 1 step before and after them respectively.

Web scraping code explanation: [Click Here](https://wire.insiderfinance.io/how-to-get-all-stocks-from-the-s-p500-in-python-fbe5f9cb2b61)

Scraped website link: [wikipedia link](https://en.wikipedia.org/wiki/List_of_S%26P_500_companies)

In [3]:
res = requests.get("https://en.wikipedia.org/wiki/List_of_S%26P_500_companies")
soup = BeautifulSoup(res.text, 'lxml')
table = soup.findAll('table', {'class': 'wikitable sortable'})

tickers = []

for row in table[0].findAll('tr')[1:]:
    ticker = row.findAll('td')[0].text
    tickers.append(ticker)

tickers[0], tickers[1], tickers[-1], len(tickers)

('MMM\n', 'AOS\n', 'ZTS\n', 503)

In [4]:
tickers = [ticker.replace('\n', '') for ticker in tickers]
tickers[0], tickers[1], tickers[-1]

('MMM', 'AOS', 'ZTS')

In [5]:
start_date = "1989-12-31"
end_date = "2019-01-01"

# Download the data
data = yf.download(tickers, start_date, end_date)

[*********************100%***********************]  503 of 503 completed

11 Failed downloads:
- OTIS: Data doesn't exist for startDate = 631083600, endDate = 1546318800
- CTVA: Data doesn't exist for startDate = 631083600, endDate = 1546318800
- BF.B: No data found for this date range, symbol may be delisted
- OGN: Data doesn't exist for startDate = 631083600, endDate = 1546318800
- CARR: Data doesn't exist for startDate = 631083600, endDate = 1546318800
- BRK.B: No timezone found, symbol may be delisted
- GEHC: Data doesn't exist for startDate = 631083600, endDate = 1546318800
- FOXA: Data doesn't exist for startDate = 631083600, endDate = 1546318800
- DOW: Data doesn't exist for startDate = 631083600, endDate = 1546318800
- FOX: Data doesn't exist for startDate = 631083600, endDate = 1546318800
- CEG: Data doesn't exist for startDate = 631083600, endDate = 1546318800

492 Stocks data got downloaded!!

Let's look at the data.

In [6]:
data

            Adj Close
                    A        AAL         AAP       AAPL       ABBV        ABC
Date
1990-01-02        NaN        NaN         NaN   0.264482        NaN        NaN  \
1990-01-03        NaN        NaN         NaN   0.266257        NaN        NaN
1990-01-04        NaN        NaN         NaN   0.267145        NaN        NaN
1990-01-05        NaN        NaN         NaN   0.268033        NaN        NaN
1990-01-08        NaN        NaN         NaN   0.269808        NaN        NaN
...               ...        ...         ...        ...        ...        ...
2018-12-24  60.658112  29.247074  138.501770  35.375175  68.045494  66.140617
2018-12-26  63.435978  31.776182  144.184341  37.866348  71.991104  68.271782
2018-12-27  64.345795  31.530161  143.868118  37.620605  72.694504  68.729782
2018-12-28  64.000381  31.323500  144.584244  37.639881  73.672813  69.131714
2018-12-31  65.455803  31.599047  146.444321  38.003689  74.537956  69.543007

                                                          ...     Volume
                  ABT       ACGL         ACN        ADBE  ...       WYNN
Date                                                      ...
1990-01-02   1.846023        NaN         NaN    1.188340  ...        NaN  \
1990-01-03   1.852688        NaN         NaN    1.247024  ...        NaN
1990-01-04   1.849356        NaN         NaN    1.305707  ...        NaN
1990-01-05   1.829363        NaN         NaN    1.335048  ...        NaN
1990-01-08   1.838741        NaN         NaN    1.352692  ...        NaN
...               ...        ...         ...         ...  ...        ...
2018-12-24  60.909626  24.799999  125.596725  205.160004  ...  2225000.0
2018-12-26  64.681633  25.920000  130.614197  222.949997  ...  3506200.0
2018-12-27  65.619980  26.540001  131.929642  225.139999  ...  4229900.0
2018-12-28  66.047348  26.389999  131.375290  223.130005  ...  2316100.0
2018-12-31  67.199394  26.719999  132.493439  226.240005  ...  2609800.0


                XEL       XOM     XRAY       XYL        YUM        ZBH
Date
1990-01-02   247200   5326000    18000       NaN        NaN        NaN  \
1990-01-03   126800   4980400    79200       NaN        NaN        NaN
1990-01-04   204200   6013200    25200       NaN        NaN        NaN
1990-01-05   144800   3854800    92400       NaN        NaN        NaN
1990-01-08   189000   4302000    98400       NaN        NaN        NaN
...             ...       ...      ...       ...        ...        ...
2018-12-24  2810600  14262800  1204200  542800.0  1806000.0   959548.0
2018-12-26  5029800  24887700  2309900  806200.0  2030200.0  1667776.0
2018-12-27  4759500  22077000  2042600  790800.0  2081600.0  1626267.0
2018-12-28  5728300  19710600  1763500  782800.0  1699500.0  1915800.0
2018-12-31  4485400  15807000  1664300  663800.0  1657000.0  1431391.0


                ZBRA     ZION        ZTS
Date
1990-01-02       NaN    53600        NaN
1990-01-03       NaN   111200        NaN
1990-01-04       NaN     1600        NaN
1990-01-05       NaN        0        NaN
1990-01-08       NaN     1600        NaN
...              ...      ...        ...
2018-12-24  363000.0  1504800  1551400.0
2018-12-26  327200.0  2969800  1869700.0
2018-12-27  504500.0  2534200  2244700.0
2018-12-28  344800.0  2558600  1797300.0
2018-12-31  409100.0  2575600  1485200.0

[7307 rows x 3018 columns]

The data does not look at all beautiful and also very difficult to understand.

Let's make it better to understand by splitting into 7 columns and one of them will tell us which stocks data it is.

In [7]:
df = data.stack().reset_index().rename(index=str, columns={"level_1": "Symbol"}).sort_values(['Symbol','Date'])
df.set_index('Date', inplace=True)
df

,Symbol,Adj Close,Close,High,Low,Open,Volume
Date,,,,,,,
1999-11-18,A,26.845934,31.473534,35.765381,28.612303,32.546494,62546380.0
1999-11-19,A,24.634195,28.880545,30.758226,28.478184,30.713518,15234146.0
1999-11-22,A,26.845934,31.473534,31.473534,28.657009,29.551144,6577870.0
1999-11-23,A,24.405388,28.612303,31.205294,28.612303,30.400572,5975611.0
1999-11-24,A,25.053663,29.372318,29.998213,28.612303,28.701717,4843231.0
...,...,...,...,...,...,...,...
2018-12-24,ZTS,76.985977,79.279999,80.910004,78.900002,80.910004,1551400.0
2018-12-26,ZTS,80.520668,82.919998,82.940002,79.139999,79.610001,1869700.0
2018-12-27,ZTS,81.889847,84.330002,84.330002,81.180000,81.830002,2244700.0
2018-12-28,ZTS,82.045219,84.489998,85.589996,83.550003,84.830002,1797300.0
2018-12-31,ZTS,83.064827,85.540001,85.589996,84.599998,85.269997,1485200.0

Save the downloaded stocks data inside `../datasets/stock-prices-S&P-constituents` folder as `stocks-data.csv` for later use.

In [8]:
df.to_csv('../datasets/stock-prices-S&P-constituents/stocks-data.csv')